<!--
    show single blog, allow to comment
-->
<section class="mb-3">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.content}}</p>
    <div>Last edit at <span>{{blog.updatedAt}}</span></div>
    <div>Posted by <span>{{blog.user.name}}</span></div>
</section>
<section class="mb-3">
    <form>
        <div class="mb-3">
            <lable for="commentText">Comment</lable>
            <textarea id="commentText"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>

<script src="/js/comment.js"></script>